# The project AON data
www/data/projectAon
src/patches/projectAonPatches

# Typescript generated code
www/js

# Cordova stuff
platforms
plugins

# Visual Studio Code stuff
jsconfig.json
.vscode
typings

# Distribution directory
dist

# NPM / node.js stuff
npm-debug.log
node_modules

# Keystore to sign apks
keystore

# Tests result
tests_log.txt
