# The project AON data
src/www/data/projectAon
src/patches/projectAonPatches

# Typescript generated code
src/www/js

# Cordova stuff
src/platforms
src/plugins

# Visual Studio Code stuff
jsconfig.json
.vscode
typings

# Distribution directory
dist

# NPM / node.js stuff
npm-debug.log
node_modules

# Keystore to sign apks
keystore

# Tests result
tests_log.txt
