# The project AON data
src/www/data/projectAon

# Cordova stuff
src/platforms
src/plugins

# Visual Studio Code stuff
jsconfig.json
.vscode
typings

# Apk build for distribution to Project AON (TODO: no longer used?)
src/www/kai.apk

# Distribution directory
dist

# NPM / node.js stuff
npm-debug.log
node_modules
