<h1 id="about-title"></h1>
<div class="illustration">
    <img alt="cover" src="#" id="about-cover" />
</div>
<p>
    In Memoriam <b>Joe Dever</b>.<br/>
    <i data-translation="forSommerlund">For Sommerlund and the Kai!</i>
</p>

<h4>Copyright</h4>
<div id="about-copyright">
</div>

<h4 data-translation="distribution">Distribution</h4>
<p data-translation="distributionInfo">
    Book distributed by the <a href="https://www.projectaon.org">Project Aon</a>, 
    under the <a href="#projectAonLicense">Project Aon License</a>.
</p>

<h4 data-translation="dedication">Dedication</h4>
<div id="about-dedication">
</div>

<div id="about-content">
</div>

<h4 data-translation="gameMechanics">Game mechanics</h4>
<div>
    <p data-translation="aboutKaiChronicles">
        Game mechanics written by Toni Bennasar. Source code is under MIT license.
        It contains parts of code taken from 
        <a href="https://lonewolfadventures.projectaon.org">
            Lone Wolf Adventures
        </a>, created by Liquid State Limited
    </p>
    <p>
        <a class="breakable" href="https://github.com/tonib/kaichronicles">
            https://github.com/tonib/kaichronicles
        </a>
    </p>
</div>
