<h1 id="about-title"></h1>
<div class="illustration">
    <img alt="cover" src="#" id="about-cover" />
</div>
<p>
    In Memoriam <b>Joe Dever</b>.<br/>
    <i data-translation="forSommerlund">For Sommerlund and the Kai!</i>
</p>

<h4>Copyright</h4>
<div id="about-copyright">
</div>

<h4 data-translation="distribution">Distribution</h4>
<p data-translation="distributionInfo">
    Book distributed by the <a href="https://www.projectaon.org">Project Aon</a>, 
    under the <a href="#projectAonLicense">Project Aon License</a>.
</p>

<h4 data-translation="dedication">Dedication</h4>
<div id="about-dedication">
</div>

<div id="about-content">
</div>

<h4 data-translation="gameMechanics">Game mechanics</h4>
<p data-translation="aboutKaiChronicles">
    Game mechanics written by Toni Bennasar and Timendum. Source code is under MIT license.
    It contains parts of code taken from 
    <a href="https://lonewolfadventures.projectaon.org">
        Lone Wolf Adventures
    </a>, created by Liquid State Limited.
</p>
<p>
    Source code available at:<br/>
    <a class="breakable" href="https://github.com/tonib/kaichronicles">
        https://github.com/tonib/kaichronicles
    </a>
</p>
<h4>Acknowledgements</h4>
<p>
    This application uses the following software:
    <ul>
        <li>
            The HTML rendering, books XML processing and Project Aon license HTML 
            contains code taken from 
            <a href="https://lonewolfadventures.projectaon.org/">
                Lone Wolf Adventures
            </a> by Liquid State Limited
        </li>
        <li>
            The Lone Wolf logo and splashes are taken directly, or adapted, from the 
            <a href="https://projectaon.org/es">Spanish Project Aon</a>
        </li>
        <li>
            Button icons are create by <a href="http://delapouite.com/">Delapouite</a>, 
            <a href="http://lorcblog.blogspot.com/">Lorc</a> and 
            <a href="http://wjbstories.blogspot.com/">Willdabeast</a>,
            and distributed from <a href="http://game-icons.net/">http://game-icons.net/</a>
            (<a href="https://creativecommons.org/licenses/by/3.0/">CC License</a>)
        </li>
        <li>
            <a href="http://getbootstrap.com/">Bootstrap</a> (MIT)
        </li>
        <li>
            <a href="https://github.com/CodeSeven/toastr">Toastr</a> (MIT)
        </li>
        <li>
            <a href="https://github.com/eligrey/FileSaver.js/">FileSaver.js</a> (MIT)
        </li>
        <li>
            <a href="https://jquery.com/">jQuery</a> (jQuery license)
        </li>
        <li>
            <a href="https://cordova.apache.org/">Apache Cordova</a> (Apache license)
        </li>
    </ul>
</p>
<p>Thanks to <a href="http://www.lsisoluciones.com">LSI</a> to let us use its Google Play account.</p>
