
<h1 data-translation="actionChart">Action chart</h1>

<div class="row">
  <div class="col-sm-6">
    <label data-translation="combatSkill">Combat Skill</label>
    <input type="text" class="form-control" placeholder="Combat Skill" id="achart-combatSkills"
        readonly>
    <p class="bonuses" id="achart-cs-bonuses"></p>
  </div>
  <div class="col-sm-6">
    <label data-translation="endurancePoints">Endurance Points</label><br/>
    <input type="text" class="form-control" placeholder="Endurance Points" id="achart-endurance"
        readonly>
    <p class="bonuses" id="achart-endurance-bonuses"></p>
  </div>
</div>    

<div class="row">
  <div class="col-sm-6">
    <label data-translation="actionBeltPouch">Belt Pouch (Max. 50)</label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="" id="achart-beltPouch" readonly>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="achart-dropmoneybutton">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </span>
    </div>
  </div>
</div>

<h3><span data-translation="kaiDisciplines" >Kai disciplines</span> 
    (<span id="achart-kaititle"></span>)</h3>
<p id="achart-circles">
  <b data-translation="circles">Lore-circles:</b> <span id="achart-currentCircles"><i>None</i></span>
</p>
<!-- Restore 20 EP (Archmaster curing) -->
<button class="btn btn-primary btn-block multilinebtn" data-translation="restore20EP" id="achart-restore20Ep" >
  Curing: +20 EP (only if EP 6 or less, once every 100 days)
</button>
<button class="btn btn-primary btn-block multilinebtn" data-translation="restore20EP" id="grdmast-restore20Ep" >
  Deliverance: +20 EP (only if EP 8 or less, once every 20 days)
</button>
<table class="table table-striped table-bordered" id="achart-disciplines">
    <tbody>
    </tbody>
</table>

<h3 data-translation="weapons">Weapons</h3>
<p><b data-translation="currentWeapon">Current weapon:</b> <span id="achart-currentWeapon"><i>None</i></span> </p>
<div class="checkbox" id="achart-fightUnarmed-container">
  <label>
      <input type="checkbox" id="achart-fightUnarmed">
      <span data-translation="fightUnarmed">
        Fight unarmed
      </span>
  </label>
</div>
<table class="table table-striped table-bordered" id="achart-weapons">
    <tbody>
    </tbody>
</table> 

<h3><span data-translation="backpackItems">Backpack Items</span> <span id="achart-backpacktotal">(0)</span></h3>
<div id="achart-backpack-content">
  <label data-translation="meals">Meals</label>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="" id="achart-meals" readonly>
    <span class="input-group-btn">
      <button class="equipment-op btn btn-default" type="button" id="achart-dropmeal" data-op="drop" 
        data-objectId="meal" >
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </span>
  </div>
  <br/>

  <table class="table table-striped table-bordered" id="achart-backpack">
      <tbody>
      </tbody>
  </table> 
</div>

<h3><span data-translation="specialItems">Special Items</span> <span id="achart-specialtotal">(0)</span></h3>
<table class="table table-striped table-bordered" id="achart-special">
    <tbody>
    </tbody>
</table> 

<h3 data-translation="annotations">Annotations</h3>
<textarea class="form-control" rows="10" id="achart-annotations"></textarea>
