<h1>Preguntas frecuentes</h1>

<h3>¿Vais a poner más libros? ¿Cuando?</h3>
<p>
    Los planes son dar soporte hasta el libro 12, y ninguno más. Los libros 11 y 12 probablemente estén para verano del 2018.
</p>

<h3>¿Cuantos libros existen? ¿Porque no están todos los libros?</h3>
<p>
    El Proyecto AON, a marzo de 2018, ha publicado (creo) 28 libro juegos de la serie Lobo Solitario en inglés, y 13 en español. 
    El trabajo que hacemos en esta aplicación es dar soporte a las reglas del juego, que se han de personalizar por CADA sección
    de CADA libro. No es un trabajo trivial. Hay que leerse todo el libro, y programar las reglas.    
</p>

<h3>Libro 2: ¿Donde esta la Lanza Mágica?</h3>
<p>
    <a class="btn btn-warning btn-block" style="white-space: normal;" data-toggle="collapse" href="#magicSpear" role="button" aria-expanded="false" aria-controls="magicSpear">
        AVISO: Contiene spoilers. Pulsa para ver la respuesta
    </a>
    <div class="collapse" id="magicSpear">
        Hay dos formas de salir vivo del tunel de Tarnalin y poder terminar el libro 2: Tener la Lanza Mágica, o tener la disciplina de 
        Afinidad Animal.
        Para obtener la Lanza, tras cruzar el desierto, antes de llegar a Port Bax, hay que tomar el camino de la izquierda y ayudar
        al desconocido en apuros.
    </div>
</p>

<h3>Libro 5: ¿Cual es el número para localizar la Tumba de los Majhanes?</h3>
<p>
    <a class="btn btn-warning btn-block" style="white-space: normal;" data-toggle="collapse" href="#tombMajhan" role="button" aria-expanded="false" aria-controls="tombMajhan">
        AVISO: Contiene spoilers. Pulsa para ver la respuesta
    </a>
    <div class="collapse" id="tombMajhan">
            373
    </div>
</p>

<h3>¿Este juego es original?</h3>
<p>
    No, en absoluto. Esta aplicación es una <i>adaptación</i> de los librojuegos de Lobo Solitario, para ser jugados en una aplicación Android o
    en un navegador web. Nosotros no hemos escrito, ni traducido, ni tenemos ningún derecho sobre los libros. Los libros fueron escritos 
    por Joe Dever, y traducidos por voluntarios del Proyecto AON. 
<p>
<p>
    Desde el Proyecto AON puedes descargarte los librojuegos en su formato original, y también existen 
    <a href="https://www.projectaon.org/en/Main/Books#tools">otras adaptaciones y herramientas para jugar a los libros</a>. 
</p>

<h3>He encontrado un fallo</h3>
<p>
    Puedes informarnos de los fallos en los siguientes sitios:
    <ul>
        <li>En las Opiniones del Google Play (no es el mejor lugar)</li>
        <li>En el <a href="http://projectaon.proboards.com/board/29/kai-chronicles">foro en inglés</a></li>
        <li>En el <a href="https://www.projectaon.org/es//foro3/viewtopic.php?f=1&t=1292">foro en español</a></li>
        <li>En el <a href="https://github.com/tonib/kaichronicles">sitio de desarrollo</a></li>
    </ul>
    No podemos prometer que los vayamos a arreglar, pero lo intentaremos. Nuestro idioma nativo no es el inglés, así que estamos especialmente
    interesados en los errores gramaticales que haya en los mensajes en inglés de la aplicación.
</p>

<h3>"Me gustaría que la aplicación hiciera X" (Modo nocturno, auto-guardado de partidas, sobreescribir partidas...)</h3>
<p>
    A nosotros también. Si eres programador y quieres hacer alguna mejora, el código está en 
    <a class="breakable" href="https://github.com/tonib/kaichronicles">https://github.com/tonib/kaichronicles</a>.
</p>

<h3>¿Puedo traducir los libros?</h3>
<p>
    No tenemos ningún derecho sobre los libros, deberías preguntar en los foros del Proyecto AON. Creemos que, actualmente, la licencia 
    sólo permite publicar los libros en español e inglés.
</p>
