<h1>Frequently asked questions</h1>

<h3>Do you plan do add more books? When?</h3>
<p>
    The plan is to support up to book 12, and no more. Books 11 and 12, probably, will be available for summer 2018.
</p>

<h3>How many books are there? Why are not all books supported?</h3>
<p>
    The Project AON, up to March 2018, has published (I think) 28 books from the Lone Wolf serie in English, and 13 in Spanish.
    The work we do with this application is to support the game rules. These rules must to be customized for EACH section of EACH
    book. It's not a simple work. You have to read the whole book, and program the rules.
</p>

<h3>Book 2: Where is the Magic Spear?</h3>
<p>
    <a class="btn btn-warning btn-block" style="white-space: normal;" data-toggle="collapse" href="#magicSpear" role="button" aria-expanded="false" aria-controls="magicSpear">
        WARNING: It contains spoilers. Press to see the answer.
    </a>
    <div class="collapse" id="magicSpear">
        There are two ways to get out of the Tarnalin tunnel alive, and then finish the book 2: To have the Magic Spear, or to have the 
        Animal Kinship discipline.
        To get the Magic Spear, after crossing the desert, before you reach Port Bax, take the left fork, and aid the people in trouble.
    </div>
</p>

<h3>Book 5: What is the number to locate the Tomb of the Majhan?</h3>
<p>
    <a class="btn btn-warning btn-block" style="white-space: normal;" data-toggle="collapse" href="#tombMajhan" role="button" aria-expanded="false" aria-controls="tombMajhan">
        WARNING: It contains spoilers. Press to see the answer.
    </a>
    <div class="collapse" id="tombMajhan">
            373
    </div>
</p>

<h3>Is this game original?</h3>
<p>
    No, at all. This application is an <i>adaptation</i> of Lone Wolf game books, to play them on Android or a web browser. We have not
    written or translated the books, and we don't have any right over them. Books were written by Joe Dever, and translated by Project AON
    volunteers.
<p>
<p>
    You can download the books from the Project AON web. Also, there are 
    <a href="https://www.projectaon.org/en/Main/Books#tools">other tools and adaptations to play the books</a>.
</p>

<h3>I have found a bug</h3>
<p>
    You can report bugs on these places:
    <ul>
        <li>In Google Play Reviews (not the best place)</li>
        <li><a href="http://projectaon.proboards.com/board/29/kai-chronicles">English forum</a></li>
        <li><a href="https://www.projectaon.org/es//foro3/viewtopic.php?f=1&t=1292">Spanish forum</a></li>
        <li><a href="https://github.com/tonib/kaichronicles">Development site</a></li>
    </ul>
    We cannot promise we will fix it, but we will try it.
    Our native language is not English, so we are specially interested on grammatical errors on the application messages (not in the book
    text itself).
</p>

<h3>"I would like the application has the feature X" (Night mode, autosave, overwrite games,...)</h3>
<p>
    Us too. If you are programmer, and you want to do some improvement, code is at  
    <a class="breakable" href="https://github.com/tonib/kaichronicles">https://github.com/tonib/kaichronicles</a>.
</p>

<h3>Can I translate the books?</h3>
<p>
    We don't have any right over the books, you should ask in the Project Aon forums. We think the license currently only allows to
    publish the books in English and Spanish.
</p>
