<h1 data-translation="kaiMonastery">Kai monastery</h1>

<p data-translation="kaiMonasteryInfo">
    Here you can store objects in safekeeping at the Kai Monastery. Objects dropped here will be available when you
    continue to the next book, at the "Equipment" section.
</p>

<p>
    <button class="btn btn-primary btn-block" type="button" data-translation="backToEquipment" id="monastery-goback" >
        Go back to the Equipment section
    </button>
</p>

<!-- Here goes the objects table for safekeeping. MUST to have the same id on the game.html -->
<div id="game-section">
</div>
