<div id="mechanics-container">
    <!-- DO NOT REMOVE THE ROOT DIV!!! -->
    <!-- This is no really a view. Its the set of UI fragments to run game mechanics -->

    <!-- Set skills -->
    <div class="well" id="mechanics-setSkills">
        <p id="mechanics-detWeapon">
            <span data-translation="chooseNumberOn">Choose a number on the</span> 
            <a href="#" class="random action" id="mechanics-chooseWeapon" data-translation="randomTable">
                Random number table
            </a>
            <span data-translation="determineCS">to determine your Combat Skill</span>.
        </p>
        <p id="mechanics-detEndurance">
            <span data-translation="chooseNumberOn">Choose a number on the</span> 
            <a href="#" class="random action" id="mechanics-chooseEndurance" data-translation="randomTable">
                Random number table
            </a> 
            <span data-translation="determineE">to determine your Endurance Points</span>.
        </p>
    </div>

    <!-- Select kai disciplines -->
    <div class="well" id="mechanics-setDisciplines">
        <div class="checkbox">
            <label>
                <input type="checkbox"> 
                <span data-translation="choose">Choose</span> "<span class="mechanics-dName"></span>"
                <span class="mechanics-wName"></span>
            </label>
        </div>
    </div>
    <div id="mechanics-magnakaiWeapon" class="col-sm-6 weaponmastery-weapon">
        <div class="checkbox" style="margin-top: 5px; margin-bottom: 5px">
            <label>
                <input type="checkbox" class="weaponmastery-chk"> 
                <span class="mechanics-wName"></span>
            </label>
        </div>
    </div>
    <div class="well" id="mechanics-setDisciplines-NDis">
        <b data-translation="selectNDisciplines">
            Please, select <span id="mechanics-nDisciplines"></span> disciplines before continuing.
        </b>
    </div>
    <div class="well" id="mechanics-setDisciplines-NWeapons">
        <b data-translation="selectNWeapons">
            Please, select <span id="mechanics-setDisciplines-weaponsmax">3</span> weapons for Weaponmastery.
        </b>
    </div>

    <!-- Choose equipment -->
    <div id="mechanics-chooseEquipment">
        <div class="well" id="mechanics-chooseEquipment-randoms">
            <b id="mechanics-chooseEquipment-randoms-msg" >
                Message goes here
            </b>
        </div>
        <!-- Max. Special Items, starting from book 8 -->
        <div class="well" id="mechanics-chooseEquipment-maxSpecials">
            <b data-translation="maxSpecialItems">
                From this book, the maximum number of Special Items that can be carried is twelve.
                Any additional Special Items may be left for safekeeping at the Kai Monastery, or left here.
                If it's left here, the Item will be lost. Please, drop other Items before continuing.
            </b>
        </div>
    </div>

    <!-- Display available objects on the section -->
    <div id="mechanics-availableObjects">
        <p><b data-translation="tableAvailableObjects">Available objects:</b></p>
        <table class="table table-striped table-bordered" id="mechanics-availableObjectsList">
            <tbody>
                <!-- Objects go here -->
            </tbody>
        </table> 
    </div>

    <!-- Display sell object table -->
    <div id="mechanics-sellObjects">
        <p><b data-translation="tableSellObjects">Sell objects:</b></p>
        <table class="table table-striped table-bordered" id="mechanics-sellObjectsList">
            <tbody>
                <!-- Objects go here -->
            </tbody>
        </table> 
    </div>

    <!-- Combat template -->
    <div class="mechanics-combatUI" id="mechanics-combat">
        <!-- Combat tables -->
        <button class="btn btn-default table-op mechanics-combatTables" 
            title="Show combat tables">
            <span class="glyphicon glyphicon-th"></span>
        </button>
        <!-- Combat ratio -->
        <p>
            <a href="#" class="crlink">
                <span class="attribute" data-translation="combatRatio">COMBAT RATIO</span>: 
                <span class="mechanics-combatRatio">CR</span>
            </a>
        </p>
        <!-- Psi-surge -->
        <div class="checkbox psisurgecheck">
            <label>
                <input type="checkbox"> 
                <span data-translation="mechanics-combat-psisurge">
                    Psi-surge: +<span class="psisurgebonus">4</span> CS, −<span class="psisurgeloss">2</span> EP per round
                </span>
            </label>
        </div>
        <!-- Combat turns -->
        <table class="table table-striped table-bordered bold-head" style="display:none">
            <thead>
                <tr>
                    <td class="hidden-xs">#</td>
                    <td>
                        <span class="hidden-xs" data-translation="randomTable">Random table</span>
                        <span class="visible-xs-inline" data-translation="randomTableSmall">R.</span>
                    </td>
                    <td data-translation="loneWolf">Lone Wolf</td>
                    <td><span class="mechanics-enemyName">Enemy</span></td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <!-- Combat buttons -->
        <a href="#" class="btn btn-primary btn-block mechanics-playTurn" data-translation="playTurn">
            Play turn
        </a>
        <a href="#" class="btn btn-warning btn-block mechanics-elude" 
            style="display: none" data-translation="eludeCombat">Elude combat</a>
    </div>

    <!-- Player death -->
    <div id="mechanics-death">
        <div class="well">
            <p><b id="mechanics-deathmsg" data-translation="msgDeath">
                Your life and your mission end here
            </b></p>
            <p><a href="#" class="action" id="mechanics-restart" data-translation="deathRestartBook">
                Click here to restart the book
            </a></p>
            <a href="#loadGame" class="action" data-translation="deathLoadGame">
                Click here to load a saved game
            </a>
        </div>
    </div>

    <!-- Have a Meal -->
    <div class="well mechanics-meal-ui" id="mechanics-meal">
        <p><b data-translation="meal">Meal</b></p>
        <div class="radio mechanics-eatHunt">
            <label>
                <input type="radio" name="mechanics-mealOption" value="hunting">
                <span data-translation="useHunting">Use the Hunting discipline</span>
            </label>
        </div>
        <div class="radio mechanics-eatMeal">
            <label>
                <input type="radio" name="mechanics-mealOption" value="meal">
                <span data-translation="eatBackpackMeal">Eat a Backpack Meal</span>
            </label>
        </div>
        <div class="radio mechanics-eatObject">
            <label>
                <input type="radio" name="mechanics-mealOption" value="objectId">
                <span data-translation="eatBackpackObject">Eat</span> 
                "<span class="mechanics-eatDescription">XXXX</span>"
            </label>
        </div>
        <div class="radio mechanics-buyMeal">
            <label>
                <input type="radio" name="mechanics-mealOption" value="buyMeal">
                <span data-translation="buyMeal">Buy meal</span> 
                (<span class="mechanics-mealPrice">0</span> 
                <span data-translation="goldCrowns">Gold Crowns</span>)
            </label>
        </div>
        <div class="radio mechanics-eatDoNotEat">
            <label>
                <input type="radio" name="mechanics-mealOption" value="doNotEat">
                <span data-translation="doNotEat">Do not eat (-3 ENDURANCE)</span>
            </label>
        </div>
        <div class="mechanics-mealButtonDiv">
            <button class="btn btn-primary btn-block" type="button">OK</button>
        </div>
    </div>

    <!-- Message to user. DO NOT REMOVE CLASS "mechanics-message", it's checked by the mechanics -->
    <div class="well mechanics-message" id="mechanics-message">
        <b>Message goes here</b>
    </div>

    <!-- Number picker -->
    <div class="well" id="mechanics-numberpicker">
        <label id="mechanics-mpTitle" for="mechanics-mpAmount">Number picker</label>
        <div class="input-group">
            <input type="number" class="form-control"
                id="mechanics-mpAmount" min="0"
                data-ismoneypicker="false" value="0">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default add-number">
                    <span class="glyphicon glyphicon-plus"></span>
                </button> 
                <button type="button" class="btn btn-default sub-number">
                    <span class="glyphicon glyphicon-minus"></span>
                </button> 
            </div>
        </div>
        <button class="btn btn-primary btn-block" type="button" id="mechanics-picknumber" 
            style="display: none; margin-top: 5px;">
            Action
        </button>
    </div>

    <!-- Access to Kai monastery stored objects -->
    <div id="mechanics-kaimonasterystorage">
        <p>
            <button class="btn btn-primary btn-block" type="button" data-translation="kaiMonasteryStorage">
                Objects on the Kai monastery
            </button>
        </p>
    </div>

    <!-- Modal to pick / drop money (moneyDialog.ts) -->
    <div class="modal fade" id="mechanics-moneydialog" tabindex="-1" role="dialog" aria-labelledby="mechanics-moneytitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="mechanics-moneytitle" data-translation="dropMoney">
                        Drop money
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="mechanics-moneyamount" data-translation="amount">Amount</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="mechanics-moneyamount" min="1" 
                                data-ismoneypicker="true" value="1">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default add-number">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button> 
                                <button type="button" class="btn btn-default sub-number">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-translation="close">
                        Close
                    </button>
                    <button class="btn btn-primary" type="button" id="mechanics-moneyapply" data-translation="dropMoney">
                        Drop money
                    </button>
                </div>

            </div>
        </div>
    </div>
    
    <!-- Display a section image -->
    <div class="well" id="mechanics-displayillustration">
        <p id="mechanics-illtitlecontainer"><b id="mechanics-illtitle">This is the illustration title</b></p>
        <p id="mechanics-ill"></p>
    </div>

    <!-- *** SPECIAL SECTIONS *** -->

    <!-- Cartwheel game -->
    <div class="well" id="mechanics-book2Sect238">
        <div class="form-group">
            <b>
                <span data-translation="beltPouch">Belt pouch</span>: 
                <span id="mechanics-currentMoney">0</span> / 
                <span data-translation="moneyWon">Money won</span>: 
                <span id="mechanics-moneyWon">0</span>
            </b>
        </div>
        <div class="form-group">
            <label for="mechanics-numberToBet" data-translation="numberToBet">
                Number for the bet
            </label>
            <div class="input-group">
                <input type="number" min="0" max="9" class="form-control" 
                    id="mechanics-numberToBet" value="5">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default add-number">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button> 
                    <button type="button" class="btn btn-default sub-number">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button> 
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="mechanics-moneyToBet" data-translation="crownsToBet">
                Crowns to bet
            </label>
            <div class="input-group">
                <input type="number" class="form-control" 
                    id="mechanics-moneyToBet" min="1" max="50" 
                    data-ismoneypicker="true" value="1">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default add-number">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button> 
                    <button type="button" class="btn btn-default sub-number">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button> 
                </div>
            </div>
        </div>
        <div class="form-group">
            <b id="mechanics-gameStatus"></b>
        </div>
        <button class="btn btn-primary btn-block" type="button" id="mechanics-play" data-translation="play">
            Play
        </button>
    </div>

    <!-- Portholes game -->
    <div class="well" id="mechanics-book2Sect308">
        <div class="form-group">
            <b>
                <span data-translation="beltPouch">Belt pouch</span>: 
                <span id="mechanics-currentMoney">0</span>
            </b>
        </div>
        <div class="form-group">
            <b id="mechanics-gameStatus"></b>
        </div>
        <button class="btn btn-primary btn-block" type="button" id="mechanics-play" data-translation="play">
            Play
        </button>
    </div>

    <!-- Book 6 / sect26, bow tournament -->
    <div id="mechanics-book6sect26">
        <p>
            <span class="attribute" data-translation="targetPoints">LONE WOLF TARGET POINTS: </span>
            <span id="mechanics-targetpoins">XX</span>
        </p>
    </div>

    <!-- Book 6 / sect340, bow tournment -->
    <div class="well" id="mechanics-book6sect340">
        <p>
            <span data-translation="weaponmastery">Weaponmastery</span>: +<span id="mechanics-book6sect340-bonus">0</span>
        </p>
        <p><a href="#" class="random action"><span data-translation="shoot">Shoot</span> 1</a></p>
        <p><a href="#" class="random action"><span data-translation="shoot">Shoot</span> 2</a></p>
        <p><a href="#" class="random action"><span data-translation="shoot">Shoot</span> 3</a></p>
    </div>

</div>
