<h1 data-translation="settings">Settings</h1>

<form>
    <div class="form-group">
        <label for="settings-language" data-translation="language">Language</label>
        <select class="form-control" id="settings-language">
            <option value="en" data-translation="english">English</option>
            <option value="es" data-translation="spanish">Spanish</option>
        </select>
    </div>

    <div class="form-group">
        <label for="settings-randomtable" data-translation="randomTableValues">
          Random Number Table values
        </label>
        <select class="form-control" id="settings-randomtable">
            <option value="computer" data-translation="computerGenerated">Computer generated</option>
            <option value="manual" data-translation="manual">Manual</option>
        </select>
    </div>

    <button class="btn btn-default large-button" type="button" id="settings-gamerules">
        <img src="images/game-icons/bookmark.png" alt="Book" />
        <b data-translation="gameRules">Game rules</b>
    </button>

    <button class="btn btn-default large-button" type="button" id="settings-save">
        <img src="images/game-icons/save.png" alt="Papers" />
        <b data-translation="saveGame">Save game</b>
    </button>

    <button class="btn btn-default large-button" type="button" id="settings-restart">
        <img src="images/game-icons/ink-swirl.png" alt="Knight" />
        <b data-translation="restartBook">Restart book</b>
    </button>

    <button class="btn btn-default large-button" type="button" id="settings-new">
      <img src="images/game-icons/enlightenment.png" alt="New game" />
      <b data-translation="newGame">Start new game</b>
    </button>

    <button class="btn btn-default large-button" type="button" id="settings-about">
        <img src="images/game-icons/wolf-howl.png" alt="Book" />
        <b data-translation="about">About the book</b>
    </button>

</form>

<!-- Modal to load the new book language. IMPORTANT: MUST NOT TO HAVE fade CLASS!
-->
<div class="modal" id="settings-downloadDialog" tabindex="-1" role="dialog" 
    data-backdrop="static" data-keyboard="false" aria-labelledby="settings-downloadTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="settings-downloadTitle" data-translation="downloading">
          Downloading
        </h4>
      </div>
      <div class="modal-body" data-translation="downloadingWait">
        Downloading book, please wait...
      </div>
    </div>
  </div>
</div>

<!-- Modal to chage the save game file name -->
<div class="modal fade" id="settings-saveDialog" tabindex="-1" role="dialog" 
    aria-labelledby="settings-saveTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="settings-downloadTitle" data-translation="saveGame">
          Save game
        </h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="settings-saveName" data-translation="fileName">File name</label>
            <div class="input-group">
                <input type="text" class="form-control"
                  id="settings-saveName" />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" 
                      id="settings-saveRemove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button> 
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" 
          data-translation="close">
            Close
        </button>
        <button type="button" id="settings-saveBtn" class="btn btn-primary"
          data-translation="saveGame">
            Save game
        </button>
      </div>
    </div>
  </div>
</div>
