<h1>Tests</h1>
<p>
    <button type="submit" class="btn btn-primary btn-block" id="tests-bookmechanics">
        Test mechanics (Current book / language)
    </button>

    <button type="submit" class="btn btn-primary btn-block" id="tests-allbooks">
        Test mechanics (ALL BOOKS / ALL LANGUAGES)
    </button>

    <button type="submit" class="btn btn-primary btn-block" id="tests-random">
        Test random table randomness (Current book / language)
    </button>

    <button type="submit" class="btn btn-primary btn-block" id="tests-rendering">
        Test book rendering (Current book / language)
    </button>
</p>

<h2>Results</h2>
<pre id="tests-log">
</pre>
