
<h2 data-translation="downloadBooks">Download books</h2>
<table class="table table-striped" id="wwbooks-list">
    <thead>
        <tr>
            <th data-translation="book">Book</th>
            <th data-translation="download" class="hidden-xs">Download</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>Book 1</td></tr>
        <tr><td>Book 2</td></tr>
    </tbody>
</table>

<button type="submit" class="btn btn-primary" data-translation="downloadRemoveBooks" id="wwbooks-update">
    Download / remove books
</button>
