
<h2 data-translation="downloadBooks">Download books</h2>

<p>
    Select the books you want to download from <a href="https://www.projectaon.org">Project Aon</a>.
</p>
<div class="checkbox">
    <label>
        <input type="checkbox" id="wwbooks-license" checked="checked"> 
        <span data-translation="agreeLicense">
            I agree to the Project Aon license terms
        </span>
    </label>
    <a href="#projectAonLicense" data-translation="licenseText">License text</a>
</div>
<table class="table table-striped" id="wwbooks-list">
    <thead>
        <tr>
            <th data-translation="book">Book</th>
            <th data-translation="download" class="hidden-xs">Download</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>Book 1</td></tr>
        <tr><td>Book 2</td></tr>
    </tbody>
</table>

<button type="submit" class="btn btn-primary" data-translation="downloadRemoveBooks" id="wwbooks-update">
    Download / remove books
</button>

<!-- 
    Modal to delete / download books 
    TODO: Translate
  -->
<div class="modal fade" id="wwbooks-modal" tabindex="-1" role="dialog" 
    aria-labelledby="wwbooks-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="wwbooks-title">Download / delete books</h4>
            </div>

            <div class="modal-body">
                <div>
                    <b id="wwbooks-current"></b><br/>
                    <div class="progress" id="wwbooks-progresscontainer" >
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" 
                            aria-valuemin="0" aria-valuemax="100" style="width: 0%;"
                            id="wwbooks-progress">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                </div>
                <p id="wwbooks-log"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" 
                    data-translation="close">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
