<h1 id="about-title"></h1>

<p>
    In Memoriam <b>Joe Dever</b>.<br/>
    <i>For Sommerlund and the Kai!</i>
</p>

<h4>Copyright</h4>
<div id="about-copyright">

</div>

<h4>Dedication</h4>
<div id="about-dedication">
</div>

<div id="about-content">
</div>

<h4>Game mechanics</h4>
<div>
    <p>
        Game mechanics written by Toni Bennasar. Source code is under MIT license.
        It contains parts of code taken from "Lone Wolf Adventures", 
        by Liquid State Limited
    </p>
    <p>
        <a href="https://github.com/tonib/kaichronicles">
            https://github.com/tonib/kaichronicles
        </a>
    </p>
</div>
