<h1>Kai Chronicles</h1>

<form>
    <button class="btn btn-default large-button" type="button" id="menu-continue">
        <img src="data/projectAon/illExtra/book.png" alt="Book" />
        <b>Continue game</b>
    </button>
    <button class="btn btn-default large-button" type="button" id="menu-new">
        <img src="data/projectAon/2/ill_en/small5.png" alt="Knight" />
        <b>Start new game</b>
    </button>
    <button class="btn btn-default large-button" type="button" id="menu-load">
        <img src="data/projectAon/2/ill_en/small8.png" alt="Papers" />
        <b>Load game</b>
    </button>
</form>
