<h1>Kai Chronicles</h1>

<p>
    <b>v1.1</b><br/>
    This is a game player for Lone Wolf game books. Only books 1 &amp; 2 are implemented.<br />
</p>
<div id="menu-webinfo">
    <p>
        Only latest versions of Firefox and Chrome are supported. Other browsers and
        versions are not supported (maybe they work... or not).
    </p>
    <p>
        Keep in mind that if you clean your browser history, the current game state will
        be lost. You can save the current game at <i>Settings &gt; Save game</i>.
    </p>
    <p>
        You can play this as an Android app (min. Android version supported is 4.4.2). 
        Download it <a href="kai.apk">here</a> (about 10 MB).
    </p>
</div>
<p>
    Have fun!<br/>
    <a href="https://www.projectaon.org">https://www.projectaon.org</a>
</p>
<form>
    <button class="btn btn-default large-button" type="button" id="menu-continue">
        <img src="data/projectAon/illExtra/book.png" alt="Book" />
        <b>Continue game</b>
    </button>
    <button class="btn btn-default large-button" type="button" id="menu-new">
        <img src="data/projectAon/2/ill_en/small5.png" alt="Knight" />
        <b>Start new game</b>
    </button>
    <button class="btn btn-default large-button" type="button" id="menu-load">
        <img src="data/projectAon/2/ill_en/small8.png" alt="Papers" />
        <b>Load game</b>
    </button>
</form>
