<h1 data-translation="kaiChronicles">Kai Chronicles</h1>

<p>
    <a href="#" class="action" style="float:right" id="menu-translate">Spanish version</a>
    <b>v1.4</b><br/>
    <span data-translation="appInfo">
        This is a player for Lone Wolf game books 1 to 5.
    </span>
</p>
<div id="menu-webinfo">
    <p data-translation="browsersWarning">
        Only latest versions of Firefox and Chrome are supported. Other browsers and
        versions are not supported (they may work... or not).
    </p>
    <p data-translation="historyWarning">
        Keep in mind that if you clean your browser history, the current game state will
        be lost. You can save the current game to a file at <i>Settings &gt; Save game</i>.
    </p>
    <p data-translation="androidInfo">
        You can play this as an Android app (mininum version 4.4.2). 
        Download it <a href="kai.apk">here</a> (18 MB).
    </p>
</div>
<p>
    <span data-translation="haveFun">Have fun!</span><br/>
    <a href="https://www.projectaon.org">https://www.projectaon.org</a>
</p>
<form>
    <button class="btn btn-default large-button" type="button" id="menu-continue">
        <img src="data/projectAon/illExtra/book.png" alt="Book" />
        <b data-translation="continueGame">Continue game</b>
    </button>
    <button class="btn btn-default large-button" type="button" id="menu-new">
        <img src="data/projectAon/2/ill_en/small5.png" alt="Knight" />
        <b data-translation="newGame">Start new game</b>
    </button>
    <button class="btn btn-default large-button" type="button" id="menu-load">
        <img src="data/projectAon/2/ill_en/small8.png" alt="Papers" />
        <b data-translation="loadGame">Load game</b>
    </button>
</form>
