

<h1 id="map-title">Map</h1>

<p>
    <span data-translation="map-clickinfo">Click on the map to fit the screen width / restore to its original size.</span><br/>
    <span data-translation="map-changezoom">Change zoom:</span>
    <a href="#" class="btn btn-primary" id="map-increasezoom">
        <span class="glyphicon glyphicon-plus"></span> 
    </a>
    <a href="#" class="btn btn-primary" id="map-decreasezoom">
        <span class="glyphicon glyphicon-minus"></span>
    </a>
</p>
<div id="map-section">
    Loading map...
</div>
