<div id="mechanics-container">
    <!-- DO NOT REMOVE THE ROOT DIV!!! -->
    <!-- This is no really a view. Its the set of UI fragments to run game mechanics -->

    <!-- Set skills -->
    <div class="well" id="mechanics-setSkills">
        <p id="mechanics-detWeapon">
            <span data-translation="chooseNumberOn">Choose a number on the</span> 
            <a href="#" class="random action" id="mechanics-chooseWeapon" data-translation="randomTable">
                Random number table
            </a>
            <span data-translation="determineCS">to determine your Combat Skill</span>.
        </p>
        <p id="mechanics-detEndurance">
            <span data-translation="chooseNumberOn">Choose a number on the</span> 
            <a href="#" class="random action" id="mechanics-chooseEndurance" data-translation="randomTable">
                Random number table
            </a> 
            <span data-translation="determineE">to determine your Endurance Points</span>.
        </p>
    </div>

    <!-- Select kai disciplines -->
    <div class="well" id="mechanics-setDisciplines">
        <div class="checkbox">
            <label>
                <input type="checkbox"> 
                <span data-translation="choose">Choose</span> "<span class="mechanics-dName"></span>"
                <span class="mechanics-wName"></span>
            </label>
        </div>
    </div>
    <div class="well" id="mechanics-setDisciplines-NDis">
        <b data-translation="selectNDisciplines">
            Please, select <span id="mechanics-nDisciplines"></span> disciplines before continue.
        </b>
    </div>

    <!-- Choose equipment -->
    <div class="well" id="mechanics-chooseEquipment">
        <b id="mechanics-chooseEquipment-msg" >
            Message goes here
        </b>
    </div>

    <!-- Display available objects on the section -->
    <div id="mechanics-availableObjects">
        <p><b data-translation="tableAvailableObjects">Available objects:</b></p>
        <table class="table table-striped table-bordered" id="mechanics-availableObjectsList">
            <tbody>
                <!-- Objects go here -->
            </tbody>
        </table> 
    </div>

    <!-- Display sell object table -->
    <div id="mechanics-sellObjects">
        <p><b data-translation="tableSellObjects">Sell objects:</b></p>
        <table class="table table-striped table-bordered" id="mechanics-sellObjectsList">
            <tbody>
                <!-- Objects go here -->
            </tbody>
        </table> 
    </div>

    <!-- Combat template -->
    <div class="mechanics-combatUI" id="mechanics-combat">
        <button class="btn btn-default table-op mechanics-combatTables" 
            title="Show combat tables">
            <span class="glyphicon glyphicon-th"></span>
        </button>
        <p><span class="attribute" data-translation="combatRatio">COMBAT RATIO</span>: 
        <span class="mechanics-combatRatio">CR</span></p>
        <table class="table table-striped table-bordered bold-head" style="display:none">
            <thead>
                <tr>
                    <td class="hidden-xs">#</td>
                    <td>
                        <span class="hidden-xs" data-translation="randomTable">Random table</span>
                        <span class="visible-xs-inline" data-translation="randomTableSmall">R.</span>
                    </td>
                    <td data-translation="loneWolf">Lone Wolf</td>
                    <td><span class="mechanics-enemyName">Enemy</span></td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <a href="#" class="btn btn-default mechanics-playTurn" data-translation="playTurn">Play turn</a>
        <a href="#" class="btn btn-default mechanics-elude" 
            style="display: none" data-translation="eludeCombat">Elude combat</a>
    </div>

    <!-- Player death -->
    <div class="well" id="mechanics-death">
        <p><b id="mechanics-deathmsg" data-translation="msgDeath">
            Your mission and your live ends here
        </b></p>
        <p><a href="#" class="action" id="mechanics-restart" data-translation="deathRestartBook">
            Click here to restart the book
        </a></p>
        <p><a href="#loadGame" class="action" data-translation="deathLoadGame">
            Click here to load a saved game
        </a></p>
    </div>

    <!-- Have a Meal -->
    <div class="well mechanics-meal-ui" id="mechanics-meal">
        <p><b>Meal</b></p>
        <div class="radio mechanics-eatHunt">
            <label>
                <input type="radio" name="mechanics-mealOption" value="hunting">
                <span data-translation="useHunting">Use the Hunting discipline</span>
            </label>
        </div>
        <div class="radio mechanics-eatMeal">
            <label>
                <input type="radio" name="mechanics-mealOption" value="meal">
                <span data-translation="eatBackpackMeal">Eat a backpack meal</span>
            </label>
        </div>
        <div class="radio mechanics-eatObject">
            <label>
                <input type="radio" name="mechanics-mealOption" value="objectId">
                <span data-translation="eatBackpackObject">Eat</span> 
                "<span class="mechanics-eatDescription">XXXX</span>"
            </label>
        </div>
        <div class="radio mechanics-buyMeal">
            <label>
                <input type="radio" name="mechanics-mealOption" value="buyMeal">
                <span data-translation="buyMeal">Buy meal</span> 
                (<span class="mechanics-mealPrice">0</span> 
                <span data-translation="goldCrowns">Gold Crowns</span>)
            </label>
        </div>
        <div class="radio mechanics-eatDoNotEat">
            <label>
                <input type="radio" name="mechanics-mealOption" value="doNotEat">
                <span data-translation="doNotEat">Do not eat (-3 ENDURANCE)</span>
            </label>
        </div>
        <div class="mechanics-mealButtonDiv">
            <button class="btn btn-default" type="button">Ok</button>
        </div>
    </div>

    <!-- Player death -->
    <div class="well" id="mechanics-message">
        <p><b>Message goes here</b></p>
    </div>

    <!-- Money picker -->
    <div class="well" id="mechanics-moneypicker">
        <label id="mechanics-mpTitle" for="mechanics-mpAmount">Money picker</label>
        <div class="input-group">
            <input type="number" class="form-control"
                id="mechanics-mpAmount" min="0" max="50" 
                data-ismoneypicker="true" value="0">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default add-number">
                    <span class="glyphicon glyphicon-plus"></span>
                </button> 
                <button type="button" class="btn btn-default sub-number">
                    <span class="glyphicon glyphicon-minus"></span>
                </button> 
            </div>
        </div>
    </div>

    <!-- Cartwheel game -->
    <div class="well" id="mechanics-book2Sect248">
        <div class="form-group">
            <b>
                <span data-translation="beltPouch">Belt pouch</span>: 
                <span id="mechanics-currentMoney">0</span> / 
                <span data-translation="moneyWon">Money won</span>: 
                <span id="mechanics-moneyWon">0</span>
            </b>
        </div>
        <div class="form-group">
            <label for="mechanics-numberToBet" data-translation="numberToBet">
                Number for the bet
            </label>
            <div class="input-group">
                <input type="number" min="0" max="9" class="form-control" 
                    id="mechanics-numberToBet" value="5">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default add-number">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button> 
                    <button type="button" class="btn btn-default sub-number">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button> 
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="mechanics-moneyToBet" data-translation="crownsToBet">
                Crowns to bet
            </label>
            <div class="input-group">
                <input type="number" class="form-control" 
                    id="mechanics-moneyToBet" min="1" max="50" 
                    data-ismoneypicker="true" value="1">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default add-number">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button> 
                    <button type="button" class="btn btn-default sub-number">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button> 
                </div>
            </div>
        </div>
        <div class="form-group">
            <b id="mechanics-gameStatus"></b>
        </div>
        <button class="btn btn-default" type="button" id="mechanics-play" data-translation="play">
            Play
        </button>
    </div>

    <!-- Portholes game -->
    <div class="well" id="mechanics-book2Sect308">
        <div class="form-group">
            <b>
                <span data-translation="beltPouch">Belt pouch</span>: 
                <span id="mechanics-currentMoney">0</span>
            </b>
        </div>
        <div class="form-group">
            <b id="mechanics-gameStatus"></b>
        </div>
        <button class="btn btn-default" type="button" id="mechanics-play" data-translation="play">
            Play
        </button>
    </div>

</div>
