<h1>New game</h1>

<form id="newgame-form">

    <div class="form-group">
        <label for="newgame-language">Book Language</label>
        <select class="form-control" id="newgame-language">
            <option value="en">English</option>
            <option value="es">Spanish</option>
        </select>
    </div>

    <div class="form-group">
        <label for="newgame-book">Book</label>
        <select class="form-control" id="newgame-book">
            <option value="1">1. Flight from the Dark</option>
            <option value="2">2. Fire on the Water</option>
        </select>
    </div>

    <button type="submit" class="btn btn-default">Start game</button>

</form>