<!-- This has been taken from Lone Wolf Adventures, by Liquid State Limited -->
<h2>Project Aon License</h2>

<h3>0. Preamble</h3>
<p>Joe Dever, author of the Lone Wolf game books, and Ian Page, author of the World of Lone Wolf books are providing certain
    of their works for free (gratis) download from the internet. Rob Adams, Paul Bonner, Gary Chalk, Melvyn Grant, Richard
    Hook, Peter Andrew Jones, Cyril Julien, Peter Lyon, Trevor Newton, Peter Parr, Graham Round, and Brian Williams are similarly
    offering the illustrations that they did for these books. This license is intended to protect the rights of the authors
    and the illustrators, grant rights to their readers, and preserve the quality of the books distributed in this way.
</p>
<p>By viewing or downloading the books or the illustrations, you agree to refrain from redistributing them in any format for
    any reason. This is intended to protect readers from getting poor quality, unofficial versions or from being asked for
    payment in exchange for the books by someone who is redistributing them unofficially.
</p>
<p>Anyone who wishes to simply view or download the Internet Editions for their own personal use need not worry about running
    afoul of the terms of this License. These activities are within acceptable behaviour as defined by this License.
</p>
<p>This section does not contain the legally binding terms of this license. Please read the precise terms and conditions of
    this license that follow.
</p>
<p>The current version of this license can be found at the following URL:
</p>
<div class="indent"><a class="breakable" href="http://www.projectaon.org/en/Main/License/">http://www.projectaon.org/en/Main/License/</a>
    <br>
    <br>
</div>
<div></div>
<h3>1. Definitions</h3>
<h4>1.0</h4>
<p>'License' shall hereafter refer to this document.
</p>
<div></div>
<h4>1.1</h4>
<p>'Authors' shall hereafter refer to Joe Dever, Ian Page, and Gary Chalk, copyright holders for the literary works covered
    by this license. Where Joe Dever, Ian Page, or Gary Chalk is mentioned singly, they will be referred to by name.
</p>
<div></div>
<h4>1.2</h4>
<p>'Illustrators' shall hereafter refer to Rob Adams, copyright holder of portions of <em>The Magnamund Companion</em>; Paul
    Bonner, holder of the copyrights for the illustrations of the World of Lone Wolf books; Gary Chalk, holder of the copyrights
    for the illustrations of Lone Wolf books one through eight counted inclusively, holder of the copyrights of portions
    of <em>The Magnamund Companion</em>, and holder of the copyrights for <em>The Lone Wolf Poster Painting Book</em>; Melvyn
    Grant, holder of the copyrights for the illustrations of <em>Freeway Warrior 1: Highway Holocaust</em>; Richard Hook,
    copyright holder of portions of <em>The Magnamund Companion</em>; Peter Andrew Jones, copyright holder of the illustrations
    used in the <em>Lone Wolf 10th Anniversary Calendar</em>; Cyril Julien, copyright holder of portions of <em>The Skull of Agarash</em>;
    Peter Lyon, copyright holder of portions of <em>The Magnamund Companion</em>; Trevor Newton, copyright holder of the
    illustrations of <em>Voyage of the Moonstone</em>; Peter Parr, copyright holder of the illustrations of <em>Black Baron</em>    and <em>White Warlord</em>, <em>Emerald Enchanter</em> and <em>Scarlet Sorcerer</em>; Graham Round, copyright holder
    of portions of <em>The Magnamund Companion</em>; and Brian Williams, holder of the copyrights for the illustrations of
    Lone Wolf books nine through twenty-eight counted inclusively with the exception of the illustrations for book twenty-one,
    <em>The Voyage of the Moonstone</em>, holder of the copyrights of portions of <em>The Skull of Agarash</em>, and holder
    of the copyrights for the illustrations of books two through four, counted inclusively, of the Freeway Warrior series.
    Where Paul Bonner, Gary Chalk, Melvyn Grant, Richard Hook, Peter Andrew Jones, Cyril Julien, Peter Lyon, Trevor Newton,
    Peter Parr, Graham Round, or Brian Williams is mentioned singly, they will be referred to by name.
</p>
<div></div>
<h4>1.3</h4>
<p>'Internet' shall hereafter refer to any means of transferring information electronically between two or more 'Licensees'.
    (The term 'Licensee' is defined in Section 1.5 of the License)
</p>
<div></div>
<h4>1.4</h4>
<p>'Internet Editions' shall hereafter refer to the document or documents, any parts thereof or derivative works thereof (including
    translations) made available to the public under the terms of this License via the Internet. The term 'Internet Editions'
    is limited to the electronic transcription of certain text and illustrations by the Authors and Illustrators respectively
    as listed hereafter.
</p>
<p>The following are the works written by Joe Dever which are being offered in English and Spanish under the terms of this license:
</p>
<div></div>
<ul>
    <li><em>Flight from the Dark</em>;<br>© 1984 Joe Dever and Gary Chalk.
    </li>
    <li><em>Fire on the Water</em>;<br>© 1984 Joe Dever and Gary Chalk.
    </li>
    <li><em>The Caverns of Kalte</em>;<br>© 1984 Joe Dever and Gary Chalk.
    </li>
    <li><em>The Chasm of Doom</em>;<br>© 1985 Joe Dever and Gary Chalk.
    </li>
    <li><em>Shadow on the Sand</em>;<br>© 1985 Joe Dever and Gary Chalk.
    </li>
    <li><em>The Kingdoms of Terror</em>;<br>© 1985 Joe Dever and Gary Chalk.
    </li>
    <li><em>Castle Death</em>;<br>© 1986 Joe Dever and Gary Chalk.
    </li>
    <li><em>The Jungle of Horrors</em>;<br>© 1987 Joe Dever and Gary Chalk.
    </li>
    <li><em>The Cauldron of Fear</em>;<br>© 1987 Joe Dever.
    </li>
    <li><em>The Dungeons of Torgar</em>;<br>© 1987 Joe Dever.
    </li>
    <li><em>The Prisoners of Time</em>;<br>© 1987 Joe Dever.
    </li>
    <li><em>The Masters of Darkness</em>;<br>© 1988 Joe Dever.
    </li>
    <li><em>The Plague Lords of Ruel</em>;<br>© 1990, 1992 Joe Dever.
    </li>
    <li><em>The Captives of Kaag</em>;<br>© 1991 Joe Dever.
    </li>
    <li><em>The Darke Crusade</em>;<br>© 1991, 1993 Joe Dever.
    </li>
    <li><em>The Legacy of Vashna</em>;<br>© 1991, 1993 Joe Dever.
    </li>
    <li><em>The Deathlord of Ixia</em>;<br>© 1992, 1994 Joe Dever.
    </li>
    <li><em>Dawn of the Dragons</em>;<br>© 1992 Joe Dever.
    </li>
    <li><em>Wolf's Bane</em>;<br>© 1993, 1995 Joe Dever.
    </li>
    <li><em>The Curse of Naar</em>;<br>© 1993, 1996 Joe Dever.
    </li>
    <li><em>Voyage of the Moonstone</em>;<br>© 1994 Joe Dever.
    </li>
    <li><em>The Buccaneers of Shadaki</em>;<br>© 1994 Joe Dever.
    </li>
    <li><em>Mydnight's Hero</em>;<br>© 1995 Joe Dever.
    </li>
    <li><em>Rune War</em>;<br>© 1995 Joe Dever.
    </li>
    <li><em>Trail of the Wolf</em>;<br>© 1997 Joe Dever.
    </li>
    <li><em>The Fall of Blood Mountain</em>;<br>© 1997 Joe Dever.
    </li>
    <li><em>Vampirium</em>;<br>© 1998 Joe Dever.
    </li>
    <li><em>The Hunger of Sejanoz</em>;<br>© 1998 Joe Dever.
    </li>
    <li><em>The Magnamund Companion</em>;<br>© 1986 Joe Dever.
    </li>
    <li><em>Freeway Warrior 1: Highway Holocaust</em>;<br>© 1988 Joe Dever.
    </li>
    <li><em>Freeway Warrior 2: Slaughter Mountain Run</em>;<br>© 1988 Joe Dever.
    </li>
    <li><em>Freeway Warrior 3: The Omega Zone</em>;<br>© 1989 Joe Dever.
    </li>
    <li><em>Freeway Warrior 4: California Countdown</em>;<br>© 1989 Joe Dever.
    </li>
    <li><em>Black Baron</em>;<br>© 1986 Joe Dever.
    </li>
    <li><em>White Warlord</em>;<br>© 1986 Joe Dever.
    </li>
    <li><em>Emerald Enchanter</em>;<br>© 1986 Joe Dever.
    </li>
    <li><em>Scarlet Sorcerer</em>;<br>© 1986 Joe Dever.
    </li>
</ul>
<p>The following are the works written by Ian Page which are being offered in English under the terms of this license:
</p>
<div></div>
<ul>
    <li><em>Grey Star the Wizard</em>;<br>© 1985 Ian Page.
    </li>
    <li><em>The Forbidden City</em>;<br>© 1986 Ian Page.
    </li>
    <li><em>Beyond the Nightmare Gate</em>;<br>© 1986 Ian Page.
    </li>
    <li><em>War of the Wizards</em>;<br>© 1986 Ian Page.
    </li>
</ul>
<p>The illustrations created by Rob Adams for the following book are part of the illustrations being offered under the terms
    of this License:
</p>
<div></div>
<ul>
    <li><em>The Magnamund Companion</em>;<br>Some illustrations © 1986 Rob Adams.
    </li>
</ul>
<p>The illustrations created by Paul Bonner for the following books are part of the illustrations being offered under the terms
    of this License:
</p>
<div></div>
<ul>
    <li><em>Grey Star the Wizard</em>;<br>Illustrations © 1985 Paul Bonner.
    </li>
    <li><em>The Forbidden City</em>;<br>Illustrations © 1986 Paul Bonner.
    </li>
    <li><em>Beyond the Nightmare Gate</em>;<br>Illustrations © 1986 Paul Bonner.
    </li>
    <li><em>War of the Wizards</em>;<br>Illustrations © 1986 Paul Bonner.
    </li>
</ul>
<p>The illustrations created by Gary Chalk for the following books are part of the illustrations being offered under the terms
    of this License:
</p>
<div></div>
<ul>
    <li><em>Flight from the Dark</em>;<br>Illustrations © 1984 Joe Dever and Gary Chalk.
    </li>
    <li><em>Fire on the Water</em>;<br>Illustrations © 1984 Joe Dever and Gary Chalk.
    </li>
    <li><em>The Caverns of Kalte</em>;<br>Illustrations © 1984 Joe Dever and Gary Chalk.
    </li>
    <li><em>The Chasm of Doom</em>;<br>Illustrations © 1985 Joe Dever and Gary Chalk.
    </li>
    <li><em>Shadow on the Sand</em>;<br>Illustrations © 1985 Joe Dever and Gary Chalk.
    </li>
    <li><em>The Kingdoms of Terror</em>;<br>Illustrations © 1985 Joe Dever and Gary Chalk.
    </li>
    <li><em>Castle Death</em>;<br>Illustrations © 1986 Joe Dever and Gary Chalk.
    </li>
    <li><em>The Jungle of Horrors</em>;<br>Illustrations © 1987 Joe Dever and Gary Chalk.
        <div></div>
    </li>
    <li><em>The Magnamund Companion</em>;<br>Some illustrations © 1986 Gary Chalk.
    </li>
    <li><em>The Lone Wolf Poster Painting Book</em>;<br>© 1987 Gary Chalk.
    </li>
</ul>
<p>The text written by Gary Chalk for the following book is being offered in English under the terms of this License:
</p>
<div></div>
<ul>
    <li><em>The Lone Wolf Poster Painting Book</em>;<br>© 1987 Gary Chalk.
    </li>
</ul>
<p>The illustrations created by Melvyn Grant for the following book are part of the illustrations being offered under the terms
    of this License:
</p>
<div></div>
<ul>
    <li><em>Freeway Warrior 1: Highway Holocaust</em>;<br>Illustrations © 1988 Melvyn Grant.
    </li>
</ul>
<p>The illustrations created by Richard Hook for the following book are part of the illustrations being offered under the terms
    of this License:
</p>
<div></div>
<ul>
    <li><em>The Magnamund Companion</em>;<br>Some illustrations © 1986 Richard Hook.
    </li>
</ul>
<p>The illustrations created by Peter Andrew Jones for the following book are part of the illustrations being offered under
    the terms of this License:
</p>
<div></div>
<ul>
    <li><em>Lone Wolf 10th Anniversary Calendar</em>;<br>Illustrations © 1994 Peter Andrew Jones.
    </li>
</ul>
<p>The illustrations created by Cyril Julien for the following book are part of the illustrations being offered under the terms
    of this License:
</p>
<div></div>
<ul>
    <li><em>The Skull of Agarash</em>;<br>Some illustrations © 1994 Cyril Julien.
    </li>
</ul>
<p>The illustrations created by Peter Lyon for the following book are part of the illustrations being offered under the terms
    of this License:
</p>
<div></div>
<ul>
    <li><em>The Magnamund Companion</em>;<br>Some illustrations © 1986 Peter Lyon.
    </li>
</ul>
<p>The illustrations created by Trevor Newton for the following book are part of the illustrations being offered under the terms
    of this License:
</p>
<div></div>
<ul>
    <li><em>Voyage of the Moonstone</em>;<br>Illustrations © 1994 Trevor Newton.
    </li>
</ul>
<p>The illustrations created by Peter Parr for the following books are part of the illustrations being offered under the terms
    of this License:
</p>
<div></div>
<ul>
    <li><em>Black Baron</em>;<br>Illustrations © 1986 Peter Parr.
    </li>
    <li><em>White Warlord</em>;<br>Illustrations © 1986 Peter Parr.
    </li>
    <li><em>Emerald Enchanter</em>;<br>Illustrations © 1986 Peter Parr.
    </li>
    <li><em>Scarlet Sorcerer</em>;<br>Illustrations © 1986 Peter Parr.
    </li>
</ul>
<p>The illustrations created by Graham Round for the following book are part of the illustrations being offered under the terms
    of this License:
</p>
<div></div>
<ul>
    <li><em>The Magnamund Companion</em>;<br>Some illustrations © 1986 Graham Round.
    </li>
</ul>
<p>The illustrations created by Brian Williams for the following books are part of the illustrations being offered under the
    terms of this License:
</p>
<div></div>
<ul>
    <li><em>The Cauldron of Fear</em>;<br>Illustrations © 1987 Brian Williams.
    </li>
    <li><em>The Dungeons of Torgar</em>;<br>Illustrations © 1987 Brian Williams.
    </li>
    <li><em>The Prisoners of Time</em>;<br>Illustrations © 1987 Brian Williams.
    </li>
    <li><em>The Masters of Darkness</em>;<br>Illustrations © 1988 Brian Williams.
    </li>
    <li><em>The Plague Lords of Ruel</em>;<br>Illustrations © 1990, 1992 Brian Williams.
    </li>
    <li><em>The Captives of Kaag</em>;<br>Illustrations © 1990, 1992 Brian Williams.
    </li>
    <li><em>The Darke Crusade</em>;<br>Illustrations © 1991, 1993 Brian Williams.
    </li>
    <li><em>The Legacy of Vashna</em>;<br>Illustrations © 1991, 1993 Brian Williams.
    </li>
    <li><em>The Deathlord of Ixia</em>;<br>Illustrations © 1992 Brian Williams.
    </li>
    <li><em>Dawn of the Dragons</em>;<br>Illustrations © 1992 Brian Williams.
    </li>
    <li><em>Wolf's Bane</em>;<br>Illustrations © 1993 Brian Williams.
    </li>
    <li><em>The Curse of Naar</em>;<br>Illustrations © 1993 Brian Williams.
    </li>
    <li><em>The Buccaneers of Shadaki</em>;<br>Illustrations © 1994 Brian Williams.
    </li>
    <li><em>Mydnight's Hero</em>;<br>Illustrations © 1995 Brian Williams.
    </li>
    <li><em>Rune War</em>;<br>Illustrations © 1995 Brian Williams.
    </li>
    <li><em>Trail of the Wolf</em>;<br>Illustrations © 1997 Brian Williams.
    </li>
    <li><em>The Fall of Blood Mountain</em>;<br>Illustrations © 1997 Brian Williams.
    </li>
    <li><em>Vampirium</em>;<br>Illustrations © 1998 Brian Williams.
    </li>
    <li><em>The Hunger of Sejanoz</em>;<br>Illustrations © 1998 Brian Williams.
    </li>
    <li><em>The Skull of Agarash</em>;<br>Some illustrations © 1994 Brian Williams.
    </li>
    <li><em>Freeway Warrior: Slaughter Mountain Run</em>;<br>Illustrations © 1988 Brian Williams.
    </li>
    <li><em>Freeway Warrior: The Omega Zone</em>;<br>Illustrations © 1989 Brian Williams.
    </li>
    <li><em>Freeway Warrior: California Countdown</em>;<br>Illustrations © 1989 Brian Williams.
    </li>
</ul>
<p>The works distributed under the collective title <em>Lone Wolf Club Newsletters</em>--which are composed of, in part, portions
    of the above named works--will also be distributed under the terms of this License.
</p>
<p>'Internet Editions' shall not refer to any other works by the Authors, nor any other illustrations by the Illustrators unless
    the Authors or Illustrators amend this License. 'Internet Editions' shall refer solely to the text and illustrations
    of the above works when made available through the Internet.
</p>
<div></div>
<h4>1.5</h4>
<p>'Licensee' shall hereafter refer to any person or electronic agent who receives some portion or all of the Internet Editions.
    The 'Licensee' shall hereinafter be referred to as 'Licensee' or 'you'.
</p>
<div></div>
<h4>1.6</h4>
<p>'Distribution Point' shall hereafter refer to the specific Internet site or sites to which the Authors and Illustrators have
    granted rights to distribute the Internet Editions under the terms of the License.
</p>
<div></div>
<h4>1.7</h4>
<p>'Maintainer' shall hereafter refer to the person or persons who are responsible for the maintenance of the Distribution Point.
</p>
<div></div>
<h3>2. Terms of Distribution</h3>
<h4>2.0</h4>
<p>The terms of this License are limited to the distribution of the Internet Editions. No other form of distribution is covered
    under the terms of this License.
</p>
<div></div>
<h4>2.1</h4>
<p>The Authors and Illustrators grant you the right to receive a copy or copies of the Internet Editions from the Distribution
    Point at no charge provided that you agree to all of the terms and obligations of this License. If you do not agree to
    all of the terms and obligations of this License, you are not granted any rights by this License.
</p>
<p>You agree to be bound by the terms and obligations of this License by the act of receiving or viewing a copy of any portion
    of the Internet Editions even though you have not signed a written document. Indeed, you have no right to receive or
    view a copy or copies without first accepting this License as legally valid and binding and agreeing to the terms and
    obligations of this License.
</p>
<div></div>
<h4>2.2</h4>
<p>You agree to refrain from redistributing a significant portion of the Internet Editions in any form, electronic or otherwise,
    to any other person or persons for any reason by any means. You are granted the right to receive a copy or copies only
    for your own personal use.
</p>
<p>This License does not collectively grant any rights to corporations or groups of individuals when regarded as one legal entity.
    This License exclusively grants rights to private individuals.
</p>
<p>Redistribution includes but is not limited to displaying the Internet Editions within the graphical representation of an
    Internet site other than the Distribution Point. This prohibition includes but is not limited to the use of HTML 'frames'.
</p>
<p>An exception to the restrictions on redistribution in this section is made in that you may send the Internet Editions or
    derivative works thereof to the Distribution Point by the consent of the Maintainer.
</p>
<div></div>
<h4>2.3</h4>
<p>The Authors and Illustrators retain all other rights to their respective portions of the Internet Editions not covered by
    this License. The Authors or Illustrators may, at any time, without notice and without need to show due cause, revoke
    the rights granted to you by this License to their respective portions of the Internet Editions.
</p>
<div></div>
<h4>2.4</h4>
<p>If a person is under the legal age to be able to enter into a contractual relationship as defined by the laws of the area
    in which that person resides, they may have a parent or legal guardian agree to be bound by the terms and obligations
    of this License. On condition of agreeing to be bound by the terms of the License, that same parent or legal guardian
    may thereafter give a copy or copies of the Internet Editions to that child. That parent or legal guardian is thereafter
    legally responsible to ensure that that child behaves in accordance with all of the terms and obligations of this License.
</p>
<p>The authority of a parent or legal guardian to distribute the Internet Editions does not extend to the distribution of the
    Internet Editions to any other person or persons except his or her child or legal dependent.
</p>
<div></div>
<h3>3. Termination of the License</h3>
<h4>3.0</h4>
<p>If for any reason you are unable to comply with any of the terms and obligations of this License, you agree to destroy all
    copies of the Internet Editions of which you have control within fourteen calendar days after the first violation.
</p>
<div></div>
<h4>3.1</h4>
<p>If any of the Authors or the Illustrators revokes your rights granted under this License, you agree to destroy all copies
    of the Authors' or Illustrators' work which is a part of the Internet Editions of which you have control within fourteen
    calendar days of receiving notification in any form.
</p>
<div></div>
<h3>4. Jurisdiction</h3>
<h4>4.0</h4>
<p>If, in consequence of court judgement or the laws of a particular area, any portion of the License is held as invalid or
    unenforceable in any particular circumstance, you are no longer granted any rights under the terms of this License in
    that circumstance. You agree to act in accordance with section 3.0 for all copies of the Internet Editions for which
    the License is held as invalid or unenforceable as if you had violated the terms and obligations of the License. The
    License is intended to remain in force in all other circumstances.
</p>
<div></div>
<h3>5. Revision of the License</h3>
<h4>5.0</h4>
<p>The Authors and the Illustrators may publish revisions of this License in the future to address new concerns. Any further
    revisions will be legally binding at the time that you receive notification in any form of the revision.
</p>
<div></div>
<h3>6. NO WARRANTY</h3>
<h4>6.0</h4>
<p>BECAUSE THE INTERNET EDITIONS ARE LICENSED FREE OF CHARGE, THERE IS NO WARRANTY FOR THE INTERNET EDITIONS, TO THE EXTENT
    PERMITTED BY APPLICABLE LAW. EXCEPT WHEN OTHERWISE STATED IN WRITING THE COPYRIGHT HOLDERS OR OTHER PARTIES PROVIDE THE
    INTERNET EDITIONS "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE
    IMPLIED WARRANTIES OF FITNESS FOR A PARTICULAR PURPOSE. THE ENTIRE RISK AS TO THE QUALITY OF THE INTERNET EDITIONS IS
    WITH YOU. SHOULD THE INTERNET EDITIONS PROVE DEFECTIVE, YOU ASSUME THE COST OF ALL NECESSARY REPAIRS.
</p>
<div></div>
<h4>6.1</h4>
<p>IN NO EVENT UNLESS REQUIRED BY APPLICABLE LAW OR AGREED TO IN WRITING WILL ANY COPYRIGHT HOLDER OR MAINTAINER BE LIABLE TO
    YOU FOR DAMAGES, INCLUDING ANY GENERAL, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR INABILITY
    TO USE THE INTERNET EDITIONS (INCLUDING BUT NOT LIMITED TO LOSS OF DATA OR DATA BEING RENDERED INACCURATE OR LOSSES SUSTAINED
    BY YOU OR THIRD PARTIES OR A FAILURE OF THE INTERNET EDITIONS TO OPERATE WITH ANY PROGRAMS), EVEN IF SUCH HOLDER OR OTHER
    PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
</p>
