<h1>Settings</h1>

<form>
    <div class="form-group">
        <label for="settings-language">Book Language</label>
        <select class="form-control" id="settings-language">
            <option value="en">English</option>
            <option value="es">Spanish</option>
        </select>
    </div>

    <button class="btn btn-default large-button" type="button" id="settings-mainmenu">
        <img src="data/projectAon/illExtra/door.png" alt="Door" />
        <b>Go back to the main menu</b>
    </button>

    <button class="btn btn-default large-button" type="button" id="settings-gamerules">
        <img src="data/projectAon/illExtra/book.png" alt="Book" />
        <b>The game rules</b>
    </button>

    <button class="btn btn-default large-button" type="button" id="settings-save">
        <img src="data/projectAon/2/ill_en/small8.png" alt="Papers" />
        <b>Save game</b>
    </button>

    <button class="btn btn-default large-button" type="button" id="settings-restart">
        <img src="data/projectAon/2/ill_en/small5.png" alt="Knight" />
        <b>Restart book</b>
    </button>

    <button class="btn btn-default large-button" type="button" id="settings-about">
        <img src="data/projectAon/illExtra/book.png" alt="Book" />
        <b>About the book...</b>
    </button>

</form>

<!-- Modal to load the new book language -->
<div class="modal fade" id="settings-downloadDialog" tabindex="-1" role="dialog" 
    data-backdrop="static" data-keyboard="false" aria-labelledby="settings-downloadTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="settings-downloadTitle">Downloading</h4>
      </div>
      <div class="modal-body">
        Downloading book, please wait...
      </div>
    </div>
  </div>
</div>

<!-- Modal to chage the save game file name -->
<div class="modal fade" id="settings-saveDialog" tabindex="-1" role="dialog" 
    aria-labelledby="settings-saveTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="settings-downloadTitle">Save game</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="settings-saveName">File name</label>
            <div class="input-group">
                <input type="text" class="form-control"
                  id="settings-saveName" />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" 
                      id="settings-saveRemove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button> 
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="settings-saveBtn" class="btn btn-primary">Save game</button>
      </div>
    </div>
  </div>
</div>
