<?xml version='1.0' encoding='utf-8'?>
<widget id="org.projectaon.kaichronicles" version="1.7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kai Chronicles</name>
    <description>
        Game player for Lone Wolf gamebooks 1 - 6
    </description>
    <author email="toni.bennasar@projectaon.org" href="https://www.projectaon.org">
        Project AON
    </author>
    <content src="index.html" />

    <!-- Use cordova version 6.1 to avoid bug with icons on 6.4 
         http://stackoverflow.com/questions/40351434/cordova-android-6-4-0-creates-res-folder-top-level-not-inside-platforms-android) 
    -->
    <engine name="android" spec="~6.1.0" />

    <!-- Plugins -->
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-file" spec="~4.3.1" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.1" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.6.2" />
    <plugin name="cordova-plugin-zip" spec="~3.1.0" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.2" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon density="xxxhdpi" height="192" platform="android" src="res/android/xxxhdpi.png" width="192" />

    <platform name="android">

        <!-- Min version is 4.4.2 (API 19), the first one that uses 
             Chromium (Chrome v32), the previous fails to render Bootstrap -->
        <preference name="android-minSdkVersion" value="19" />

        <allow-intent href="market:*" />

        <!-- Icons -->
        <icon src="res/android/xxhdpi.png" />
        <icon density="ldpi" src="res/android/icons/ldpi.png" />
        <icon density="mdpi" src="res/android/icons/mdpi.png" />
        <icon density="hdpi" src="res/android/icons/hdpi.png" />
        <icon density="xhdpi" src="res/android/icons/xhdpi.png" />
        <icon density="xxhdpi" src="res/android/icons/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/android/icons/xxxhdpi.png" />

        <!-- Splashes -->
        <splash density="land-hdpi" src="res/android/splashes/drawable-land-hdpi.png" />
        <splash density="land-ldpi" src="res/android/splashes/drawable-land-ldpi.png" />
        <splash density="land-mdpi" src="res/android/splashes/drawable-land-mdpi.png" />
        <splash density="land-xhdpi" src="res/android/splashes/drawable-land-xhdpi.png" />
        <splash density="port-hdpi" src="res/android/splashes/drawable-port-hdpi.png" />
        <splash density="port-ldpi" src="res/android/splashes/drawable-port-ldpi.png" />
        <splash density="port-mdpi" src="res/android/splashes/drawable-port-mdpi.png" />
        <splash density="port-xhdpi" src="res/android/splashes/drawable-port-xhdpi.png" />
    </platform>
    
</widget>
